<section class="blogs">
        {% for post in site.posts limit:site.blogs-count %}
        {% if site.blogs-source == 'blogs' and post.type == 'blog' %}
        <article>
                <span class="image">
                <img src="{{ post.image }}" alt="" />
                </span>
                <header class="major">
                <h5><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h5>
                <p>{{ post.description | truncate: 250 }}</p>
                </header>
                <small><a href="{{ post.url | relative_url }}" class="link">Read More</a></small>
        </article>
        {% endif %}
        {% endfor %}
        <br/>
        <center>
                <ul class="actions">
                        <li><a href="{{ site.blog_url }}" class="button special">VIEW BLOGS</a></li>
                </ul>
        </center>
</section>