<section id="one" class="tiles posts-tiles">
    {% for post in site.posts %}
    {% if site.tiles-source == 'posts' and post.type == 'portfolio' %}
    <article>
                <span class="image">
                        <img src="{{ post.image }}" alt="" />
                </span>
        <header class="major">
            <h5><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h5>
            <p>{{ post.description }}</p>
        </header>
    </article>
    {% endif %}
    {% endfor %}
</section>
