<section id="one">
    {% for post in site.posts %}
    {% if post.type == 'blog' %}
    <article>
        <span class="image">
            <img src="{{ post.image }}" alt="" />
        </span>
        <header class="major">
            <h5><a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a></h5>
            <p>{{ post.description | truncate: 250 }}</p>
        </header>
        <small><a href="{{ post.url | relative_url }}" class="link">Read More</a></small>
    </article>
    {% endif %}
    {% endfor %}
</section>