<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}


<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		{% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
    <p>{{ content }}</p>
    
    <!-- Additional images -->
    {% if page.images %}
    <p>Images:</p>
    {% endif %}
    {% for image in page.images %}
    <span class="image sub-image">
      <img src="{{ site.baseurl }}/{{ image.image.path }}" alt="{{ image.image.title }}" />
      <small>{{ image.image.title }}</small>
    </span>
    {% endfor %}

    <!-- GitHub/Link -->
    {% if page.link != null %}
      <a href="{{ page.link | relative_url }}" class="link">Link</a>
    {% endif %}
    {% if page.git != null %}
      <a href="{{ page.git | relative_url }}" class="link">GitHub</a>
    {% endif %}
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>
