<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="{{ site.playground_url }}" class="button special">PLAYGROUND <i class="fa fa-codepen faa-bounce animated"></i></a></li>
                    <li><a href="#portfolio" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- Portfolio -->
        {% include tiles.html %}
        {% include blogs.html %}
        
        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Summary</h2>
                </header>
                <p>{{ content }}</p>

               {% include expertise.html %}

                <ul class="actions">
                    <li><a href="about.html" class="button next">READ ABOUT</a></li>
                </ul>
                
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
