<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}


<!-- Main -->
<div id="main" class="alt">

    <section id="one">
        <div class="inner">
            <header class="major">
                <h2>Portfolio</h2>
            </header>
            {% include posts_tiles.html %}
        </div>
    </section>
</div>

{% include footer.html %}

</body>

</html>
