/* Skills */

#skills {
  margin-bottom: 2em;

  .button {
    margin-top: 0.25em;
    box-shadow: inset 0 0 0 2px desaturate(darken(_palette(highlight), 15), 5);
    color: _palette(highlight);

    &:hover, &:active {
      box-shadow: inset 0 0 0 2px _palette(accent2);
      color: _palette(accent2);
    }
  }
}
